# Working Notebook (Norman)

## Work in Progress

1. Update data record
2. Save data source into sqlite (database) format
3. Create a data visualization for the dataset

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
from matplotlib import pyplot as plt

In [6]:
# Import dataset as Pandas Dataframe
df = pd.read_csv('../Data/bank.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
# Add column names to the dataframe
columns = ['Age', 'WorkStatus', 'MarritalStatus', 'Binary_1', 'Amount', 
           'Binary_2', 'Binary_3', 'Contact', 'Date', 'Month', 'BigInteger', 
           'TinyInteger_1', 'RealNumber', 'TinyInteger_2', 'Success', 'Result']

df = df.rename_col(columns)
df.head()

In [ ]:
# Save updated dataframe as sqlite DB file
df.saveAsSQL()

In [ ]:
# Create data visualization
fig, ax = plt.subplots()